@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Outfit, Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

pre {
  font-family: mona, 'Courier New', Courier, monospace;
}
